
#board {
    text-align: center;
    display:grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,100px);   
    /* border: 3px solid black;  */
    justify-content: center;
    margin-top: 70px
}

body > h1 {
    text-align: center;
    /* display: none; */
}
#start-screen {
    /* display: none; */
    margin-top: 120px;
    text-align: center;
    /* display: none; */
}
#game-screen {
    margin-top: 60px;
    display: none;
}
#display-error { 
    margin-top: 50px;
}

#next-player, #game-notification {
    text-align: center;
}
div > p {
    font-size: 38px;
}

.cell {
    border: 3px solid black;
    text-align: center;    
}

#cell-0, #cell-1, #cell-2 {
    border-top: none;
}

#cell-0, #cell-3, #cell-6 {
    border-left: none;
}

#cell-6, #cell-7, #cell-8 {
    border-bottom: none;
}

#cell-2, #cell-5, #cell-8 {
    border-right: none;
}




